<!doctype html>
<html>

<head>
    <title>View Data</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<header>
    <article class="header__navbar">
        <ul class="navbar__container">
            <li class="nav_item"><a href="/">Home</a></li>
            <li class="nav_item"><a href="/students">Students</a></li>
            <li class="nav_item"><a href="/courses">Courses</a></li>
            <li class="nav_item"><a href="/htmlDemo" disabled="disabled">htmlDemo</a></li>
            <li class="nav_item"><a href="/about">About</a></li>
            <li class="nav_item float-right"><a href="/login">Login</a></li>
        </ul>
    </article>
</header>

<body>

    <main>
        {{{body}}}
    </main>
    <!-- footer -->
</body>

</html>