<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
		<p>/*********************************************************************************</p>
		<p>* WEB322 – Assignment 06</p>
		<p>* I declare that this assignment is my own work in accordance with Seneca Academic Policy. No part of this
		</p>
		<p>* assignment has been copied manually or electronically from any other source (including web sites) or</p>
		<p>* distributed to other students.</p>
		<p>*</p>
		<p>* Name: Hyunjin Shin</p>
		<p>* Student ID: 168043214</p>
		<p>* Date: 2023-07-25</p>
		<p>*</p>
		<p>* Online (Cyclic) Link: ________________________________________________________</p>
		<p>*</p>
		<p></p>********************************************************************************/</p>



		<!-- End your code here  -->



	</main>
</div>