<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<h1 style="padding:1rem">Hello {{user.username}}</h1>
		<h3 style="padding:1rem">Welcome to assignment 6</h3>
		<h3 style="padding:1rem">username: {{user.username}}</h3>
		<a style="padding:1rem; text-align: center" href="/logout">Logout</a>

		<!-- End your code here  -->



	</main>
</div>